// Colors
$near-black: #2c2d30;
$off-white: #dfe2eb;

// font-weights
$wght-thin: "wght" 150;
$wght-med: "wght" 250;
$wght-normal: "wght" 400;
$wght-bold: "wght" 600;

// padding
$default-padding: 0.5em;